.navbar {   
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('D:\mamoproblemas\Programming\SoyHenry\proyecto individual\PI-Countries-main\client\src\imgs\navbar.png');
    padding: 30px;
}

.navbar nav {
    height: 100%;
}

.label-filters{
    background-color: #0c0c0c;
    color: rgb(244, 244, 244);
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    background-color: #0c0c0c;
    color: rgb(244, 244, 244);
    border-bottom: 1px solid;
    padding: 20px;
}

#logoMundo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#logoMundo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 80px;
    height: 80px;
    transition:all .5s ease-out;
}