.navbar {   
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('D:\mamoproblemas\Programming\SoyHenry\proyecto individual\PI-Countries-main\client\src\imgs\navbar.png');
    padding: 20px;
    border-bottom: 5px solid rgba(53, 53, 53, 0.5);
}

.navbar nav {
    height: 100%;
}

#logoMundo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#logoMundo:hover {
    transform: rotate(360deg);
    transition:all .5s ease-out;
}